.env
.venv
__pycache__/
__pycache__
*.py[cod]
*.pyc
node_modules/
dist/
venv/
.venv/
**/pyvenv.cfg
**/bin/activate
# Local Netlify folder
.netlify

# LLM
.qwen

# Coverage
coverage/
htmlcov/
.coverage
.coverage.*

# QMD index
*.sqlite

.antigravitycli
